/* Variables de color */
:root {
    --primary-color: #0071E3;
    --primary-color-light: #FFFFFF;
    --bg-dark: #151518;
    --bg-light: #FFFFFF;
    --secondary-color-1: #FFDD57;
    --secondary-color-2: #A3D9A5;
    --secondary-color-3: #FF6F31;
    --secondary-color-4: #FF5757;
    font-size: 16px;
    /* Base font size */
}

/* Importación de las tipografías */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@500;600;700&display=swap');

/* Estilos globales */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color-light);
    color: #333;
}

/* Tipografías y tamaños */
h1,
h2,
h3,
h4,
h5,
h6, 
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* Negrita para mayor impacto */
}

h1, .h1 {
    font-size: 2.75rem;
    /* 44px */
}

h2, .h2 {
    font-size: 2.25rem;
    /* 36px */
}

h3, .h3 {
    font-size: 2rem;
    /* 32px */
}

h4, .h4{
    font-size: 1.75rem;
    /* 28px */
}

h5, .h5{
    font-size: 1.5rem;
    /* 24px */
}

h6, h6 {
    font-size: 1.25rem;
    /* 20px */
}

.button,
.cta {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    /* Opcional, para mayor énfasis */
}

.nav-menu {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p, .p, li, .li {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* Peso normal para cuerpos de texto */
    line-height: 1.6;
    /* Espaciado adecuado para mejorar la legibilidad */
    font-size: 1.45rem;
    /* 20px por defecto */
}

.description,
.secondary-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    /* Peso más ligero para textos secundarios */
    font-size: 1rem;
    /* 16px */
}

input,
textarea {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    /* 18px */
}

.container-limit {
    max-width: 93.75rem;
    /* 1500px */
    padding: 2.5rem;
    /* 40px */
}

html {
    scroll-behavior: smooth;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
    .container-limit {
        padding: 1.875rem;
        /* 30px */
    }

    h1 {
        font-size: 2.5rem;
        /* 40px */
    }

    h2 {
        font-size: 2rem;
        /* 32px */
    }

    h3 {
        font-size: 1.75rem;
        /* 28px */
    }

    h4 {
        font-size: 1.5rem;
        /* 24px */
    }

    h5 {
        font-size: 1.25rem;
        /* 20px */
    }

    h6 {
        font-size: 1rem;
        /* 16px */
    }

    p {
        font-size: 1.25rem;
        /* 18px */
    }
}

@media (max-width: 768px) {
    .container-limit {
        padding: 1.25rem;
        /* 20px */
    }

    h1 {
        font-size: 2.25rem;
        /* 36px */
    }

    h2 {
        font-size: 1.75rem;
        /* 28px */
    }

    h3 {
        font-size: 1.5rem;
        /* 24px */
    }

    h4 {
        font-size: 1.25rem;
        /* 20px */
    }

    h5 {
        font-size: 1rem;
        /* 16px */
    }

    h6 {
        font-size: 0.875rem;
        /* 14px */
    }

    p {
        font-size: 1.125rem;
        /* 18px */
    }
}

@media (max-width: 480px) {
    .container-limit {
        padding: 0.625rem;
        /* 10px */
    }

    h1 {
        font-size: 2rem;
        /* 32px */
    }

    h2 {
        font-size: 1.5rem;
        /* 24px */
    }

    h3 {
        font-size: 1.25rem;
        /* 20px */
    }

    h4 {
        font-size: 1rem;
        /* 16px */
    }

    h5 {
        font-size: 0.875rem;
        /* 14px */
    }

    h6 {
        font-size: 0.75rem;
        /* 12px */
    }

    p {
        font-size: 1rem;
        /* 16px */
    }
}